body{
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    background-image: linear-gradient(#af67e9, #6565e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.textInBold{
    font-weight: 700;
}
.content{
    background-color: #e7e7e9;
}
h1{
    padding-left: 12%;
    color: hsl(238, 29%, 16%);
}
#main-img {
    margin-top: -15%;
    margin-bottom: 15%;
    height: 360px;
    width: 480px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size:contain;
  }
@media screen and (max-width: 375px) {   
    #main-img{
    	background-image: url(images/illustration-woman-online-desktop.svg);
        height: 70vw;
    } 
} 
@media screen and (min-width: 376px) {   
    #main-img{
    	background-image: url(images/illustration-woman-online-desktop.svg);
    } 
}
#box-img {
    height: 120px;
    width: 280px;
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
  }


@media screen and (min-width: 376px){   
    #box-img{
        bottom: -44%; 
    	background-image: url(images/illustration-box-desktop.svg); 
    } 
}
@media screen and (max-width: 375px) {   
    #box-img{
        bottom: -50%; 
    	background-image: url(images/illustration-box-desktop.svg);
    } 
}

.accordion {
    background-color: #eee;
    color: hsl(240, 6%, 50%);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 300;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
    color: hsl(238, 29%, 16%); 
    font-weight: 900;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
@media screen and (min-width: 555px){   
    .fa{
        margin-left: 37%;
    } 
}
@media screen and (max-width: 554px) {   
    .fa{
        margin-left: 80vw;
    } 
}
  .fa{
    position: absolute;
    color:red;
    margin-top: -26px;
  }